<!-- <form [formGroup]="form" (ngSubmit)="submitForm()">
    <label for="name">Name:</label>
    <input type="text" id="d1" formControlName="d1" mask="0" />
    <input #d2Input type="text" id="d2" formControlName="d2" mask="0" />
    <input #m1Input type="text" id="name" formControlName="m1" mask="0" />
    <input #m2Input type="text" id="name" formControlName="m2" mask="0" />
    <input #a1Input type="text" id="name" formControlName="a1" mask="0" />
    <input #a2Input type="text" id="name" formControlName="a2" mask="0" />
    <input #a3Input type="text" id="name" formControlName="a3" mask="0" />
    <input #a4Input type="text" id="name" formControlName="a4" mask="0" />
    <button type="submit" [disabled]="form.invalid">Submit</button>
</form> -->

<form [formGroup]="form" (ngSubmit)="submitForm()">
    <ng-otp-input #ngOtpInput (onInputChange)="onOtpChangeNome($event)" [config]="configNome"></ng-otp-input>
    <input type="text" id="d1" formControlName="d1" mask="0" (input)="d1Input()" />
    <input type="text" id="d2" #d2InputField formControlName="d2" mask="0" (input)="d2Input()" />
    <input type="text" id="d3" #d3InputField formControlName="d3" mask="0" />
    <button type="submit" [disabled]="form.invalid || (total !== 6)">Submit</button>
</form>



<!-- <form [formGroup]="form" (ngSubmit)="submitForm()">
  <label for="name">Name:</label>
  <input type="text" id="name" formControlName="name" required (input)="onNameInput()" />
  <button type="submit" [disabled]="form.invalid">Submit</button>
</form>

 Add another input field
<label for="otherInput">Other Input:</label>
<input type="text" id="otherInput" #otherInputField /> -->